<template>
  <div class="about">
    <h1>Start template Vue JS Vue.js App</h1>
    <AxiosExample />
  </div>
</template>

<script>
import AxiosExample from "@/components/AxiosExample.vue";
export default {
  name: "About",
  components: {
    AxiosExample,
  },
};
</script>
