<template>
  <div>
    <p>for this example using 'https://jsonplaceholder.typicode.com/users'</p>
    <ul>
      <div v-for="user in users" :key="user.id" class="margin-top">
        <li>{{ user.name }}</li>
        <li>{{ user.username }}</li>
        <li>{{ user.address.city }}</li>
      </div>
    </ul>
  </div>
</template>

<script>
import axios from "axios";
export default {
  //export name component
  //name: "AxiosExample",
  data() {
    return {
      users: [],
    };
  },
  methods: {
    async getTodos() {
      let response = await axios.get(
        "https://jsonplaceholder.typicode.com/users/"
      );
      this.users = response.data;
    },
    async modifyPost() {
      let post = {
        name: "foo",
        usernmae: "bar",
        phone: +50499999999,
      };
      let response = await axios.put(
        "https://jsonplaceholder.typicode.com/users/1",
        post
      );
      console.log(response.data);
    },
  },
  created() {
    this.getTodos();
    this.modifyPost();
  },
};
</script>

<style scope lang="scss">
.margin-top {
  margin-top: 1.5rem;
}
</style>
